/SearchScraper/bin
/SearchScraper/obj
/.vs/SympliProject/v16
/SearchScraper/bin/Debug/netcoreapp3.1
/SearchScraper/obj/SearchScraper.csproj.nuget.g.targets
/SearchScraper/obj/SearchScraper.csproj.nuget.g.props
/SearchScraper/obj/SearchScraper.csproj.nuget.dgspec.json
/SearchScraper/obj/project.nuget.cache
/SearchScraper/obj/project.assets.json
/SearchScraper/obj/Debug/netcoreapp3.1/staticwebassets/SearchScraper.StaticWebAssets.xml
/SearchScraper/obj/Debug/netcoreapp3.1/staticwebassets/SearchScraper.StaticWebAssets.Manifest.cache
/SearchScraper/obj/Debug/netcoreapp3.1/staticwebassets
/SearchScraper/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/SearchScraper/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/SearchScraper/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/SearchScraper/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/SearchScraper/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
/SearchScraper/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
/SearchScraper/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.csproj.CopyComplete
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.assets.cache
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.csproj.CoreCompileInputs.cache
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.csproj.FileListAbsolute.txt
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.dll
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.genruntimeconfig.cache
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.MvcApplicationPartsAssemblyInfo.cs
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.MvcApplicationPartsAssemblyInfo.cache
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.pdb
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.RazorCoreGenerate.cache
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.RazorTargetAssemblyInfo.cache
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.RazorTargetAssemblyInfo.cs
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.TagHelpers.input.cache
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.TagHelpers.output.cache
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.Views.dll
/SearchScraper/obj/Debug/netcoreapp3.1/SearchScraper.Views.pdb
